.Cards {
    display: flex;
    color: white;
    background-color: #2F504F;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    margin: 10px;
}